<div class="row marketing">
  <h4>QR5 Reviews</h4>
  <p>
    Info about the table
  </p>
  <ul>
    <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
</div>
<div>
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>DFIRM Layer</th>
        <th>FIRM Panel</th>
        <th>Error Code</th>
        <th>Error Desc</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>S_WTR_LN</td>
        <td>39095C0009E</td>
        <td>C2553</td>
        <td>LN_TYP - Value in Database does not match FIRM</td>
      </tr>
      <tr>
        <td>S_POL_LN</td>
        <td>39095C0030E</td>
        <td>C2506</td>
        <td>LN_TYP - Value in Database does not match FIRM</td>
      </tr>
    </tbody>
  </table>
</div>
